.movie-list {
  width: 100%;
  max-width: 824px;
}

.movie-list-title {
  width: 100%;
  margin-bottom: 28px;
}

.movies {
  display: grid;
  grid-template-columns: repeat(4, 182px);
  gap: 32px;
}

@media (max-width: 960px) {
  .movie-list {
    max-width: 626px;
  }

  .movies {
    grid-template-columns: repeat(3, 182px);
    gap: 40px;
  }
}

@media (max-width: 680px) {
  .movie-list {
    max-width: 384px;
  }

  .movies {
    grid-template-columns: repeat(2, 182px);
    gap: 32px 20px;
  }
}

@media (max-width: 420px) {
  .movie-list {
    max-width: 182px;
  }

  .movies {
    grid-template-columns: 182px;
  }
}

.moreMovie {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  line-height: 36px;

  border-radius: 10px;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(227, 4, 4);
}
