.movie-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.movie-list-title {
  width: 100%;
  max-width: 904px;
}

.movies {
  display: grid;
  grid-template-columns: repeat(4, 182px);
  gap: 32px;
  justify-content: center;
}
@media (max-width: 960px) {
  .movies {
    grid-template-columns: repeat(3, 182px);
    gap: 40px;
  }
}

@media (max-width: 680px) {
  .movies {
    grid-template-columns: repeat(2, 182px);
    gap: 32px 20px;
  }
}

@media (max-width: 420px) {
  .movies {
    grid-template-columns: 182px;
    justify-content: center;
  }
}

.moreMovie {
  margin: 0;
  font-size: 15x;
  font-weight: 600;
  line-height: 36px;

  border-radius: 10px;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(227, 4, 4);
}
